*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cube-container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}
.cube {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
}
.front {
    background-color: #ef3339;
    transform: rotateX(0deg) translateZ(100px);
}
.back {
    background-color: #5c9118;
    transform: rotateX(180deg) translateZ(100px);
}
.right {
    background-color: #33e9ef;
    transform: rotateX(90deg) translateZ(100px);
}
.left {
    background-color: #333fef;
    transform: rotateY(90deg) translateZ(-100px);
}
.top {
    background-color: #b333ef;
    transform: rotateY(90deg) translateZ(100px);
}
.bottom {
    background-color: #efec33;
    transform: rotateX(90deg) translateZ(-100px);
}
/*control*/
.control {
    width: 200px;
    height: 200px;
    position: relative;
}
.btn-cube {
    width: 60px;
    height: 60px;
    border: 0;
    background: rgb(34, 34, 34);
    transition: .2s;
    color: #eee;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cube:hover {
    background: rgba(34, 34, 34, .9);
}
.btn-top{
    position: absolute;
    left: calc(50% - 30px);
    top: 10px;
}
.btn-left{
    position: absolute;
    top: calc(50% - 30px);
    left: 10px;
}
.btn-right{
    position: absolute;
    top: calc(50% - 30px);
    right: 10px;
}
.btn-bottom{
    position: absolute;
    left: calc(50% - 30px);
    bottom: 10px;
}